In [1]:
%%capture
!pip install mlxtend

## Algoritmo Apriori

In [6]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

## Escribir acá las Transacciones
transactions = [
    ["Pan", "Mantequilla", "Leche"],
    ["Pan", "Mantequilla"],
    ["Cerveza", "Galletas", "Pañales"],
    ["Leche", "Pañales", "Pan", "Mantequilla"],
    ["Cerveza", "Pañales"],
]

tre = TransactionEncoder()
df = tre.fit_transform(transactions)
df_encoded = pd.DataFrame(df, columns=tre.columns_)
df_encoded

   Cerveza  Galletas  Leche  Mantequilla    Pan  Pañales
0    False     False   True         True   True    False
1    False     False  False         True   True    False
2     True      True  False        False  False     True
3    False     False   True         True   True     True
4     True     False  False        False  False     True

In [3]:
def apriori_algorithm(
    df,
    min_supp=0.4,
    min_conf=0.7,
    variables=[
        "antecedents",
        "consequents",
        "support",
        "confidence",
        "lift",
    ],
):

    frequent_itemsets = apriori(
        df, min_support=min_supp, use_colnames=True
    )
    rules = association_rules(
        frequent_itemsets, metric="confidence", min_threshold=min_conf
    )

    return frequent_itemsets, rules[variables]

In [4]:
frequent_itemsets, rules = apriori_algorithm(
    df_encoded, min_supp=0.4, min_conf=0.7
)
display(frequent_itemsets)
display(rules)

   support                   itemsets
0      0.4                  (Cerveza)
1      0.4                    (Leche)
2      0.6              (Mantequilla)
3      0.6                      (Pan)
4      0.6                  (Pañales)
5      0.4         (Pañales, Cerveza)
6      0.4       (Mantequilla, Leche)
7      0.4               (Leche, Pan)
8      0.6         (Mantequilla, Pan)
9      0.4  (Mantequilla, Leche, Pan)

            antecedents         consequents  support  confidence      lift
0             (Cerveza)           (Pañales)      0.4         1.0  1.666667
1               (Leche)       (Mantequilla)      0.4         1.0  1.666667
2               (Leche)               (Pan)      0.4         1.0  1.666667
3         (Mantequilla)               (Pan)      0.6         1.0  1.666667
4                 (Pan)       (Mantequilla)      0.6         1.0  1.666667
5  (Mantequilla, Leche)               (Pan)      0.4         1.0  1.666667
6          (Leche, Pan)       (Mantequilla)      0.4         1.0  1.666667
7               (Leche)  (Mantequilla, Pan)      0.4         1.0  1.666667