In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    dict(
        x=[2, 8, 13, 16, 19, 2, 8, 13, 16, 19],
        y=[7, 7, 7, 7, 7, 3, 3, 5, 5, 5],
    )
)
df

    x  y
0   2  7
1   8  7
2  13  7
3  16  7
4  19  7
5   2  3
6   8  3
7  13  5
8  16  5
9  19  5

In [21]:
from scipy.spatial import distance_matrix
import numpy as np

c1 = df.iloc[0]
c2 = df.iloc[9]

vals = np.arange(1, 11)
d_m = distance_matrix(df.to_numpy(), df.to_numpy(), p=2)
d_m = pd.DataFrame(d_m, index=vals, columns=vals).round(2)
d_m

       1      2      3      4      5      6      7      8      9      10
1    0.00   6.00  11.00  14.00  17.00   4.00   7.21  11.18  14.14  17.12
2    6.00   0.00   5.00   8.00  11.00   7.21   4.00   5.39   8.25  11.18
3   11.00   5.00   0.00   3.00   6.00  11.70   6.40   2.00   3.61   6.32
4   14.00   8.00   3.00   0.00   3.00  14.56   8.94   3.61   2.00   3.61
5   17.00  11.00   6.00   3.00   0.00  17.46  11.70   6.32   3.61   2.00
6    4.00   7.21  11.70  14.56  17.46   0.00   6.00  11.18  14.14  17.12
7    7.21   4.00   6.40   8.94  11.70   6.00   0.00   5.39   8.25  11.18
8   11.18   5.39   2.00   3.61   6.32  11.18   5.39   0.00   3.00   6.00
9   14.14   8.25   3.61   2.00   3.61  14.14   8.25   3.00   0.00   3.00
10  17.12  11.18   6.32   3.61   2.00  17.12  11.18   6.00   3.00   0.00

In [22]:
D = d_m.loc[[1, 10]]
D

       1      2      3      4     5      6      7      8      9      10
1    0.00   6.00  11.00  14.00  17.0   4.00   7.21  11.18  14.14  17.12
10  17.12  11.18   6.32   3.61   2.0  17.12  11.18   6.00   3.00   0.00

In [25]:
G = D == D.min()
G.astype("int64")

    1   2   3   4   5   6   7   8   9   10
1    1   1   0   0   0   1   1   0   0   0
10   0   0   1   1   1   0   0   1   1   1

In [ ]:
G

In [85]:
A = np.array([-5, -1, 1, 2, 3])
A.mean()

0.0

In [86]:
A.std(ddof=0)

2.8284271247461903

In [89]:
print(A.mean())
(A**2).sum()

0.0

40

In [90]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

sc = StandardScaler()
mm = MinMaxScaler()
sc.fit_transform(A.reshape(-1, 1))

array([[-1.76776695],
       [-0.35355339],
       [ 0.35355339],
       [ 0.70710678],
       [ 1.06066017]])

In [92]:
mm.fit_transform(A.reshape(-1, 1))

array([[0.   ],
       [0.5  ],
       [0.75 ],
       [0.875],
       [1.   ]])